<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>existinguser.jsp</welcome-file>
    <welcome-file>existinguser.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegSevlet</display-name>
    <servlet-name>RegSevlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.RegSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegSevlet</servlet-name>
    <url-pattern>/RegSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookList</display-name>
    <servlet-name>BookList</servlet-name>
    <servlet-class>com.neeraj.BookProj.BookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookList</servlet-name>
    <url-pattern>/BookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenSer</display-name>
    <servlet-name>EditScreenSer</servlet-name>
    <servlet-class>com.neeraj.BookProj.EditScreenSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenSer</servlet-name>
    <url-pattern>/EditScreenSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegServlet</display-name>
    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.UserRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/UserRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.neeraj.BookProj.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserDetails</display-name>
    <servlet-name>EditUserDetails</servlet-name>
    <servlet-class>com.neeraj.BookProj.EditUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserDetails</servlet-name>
    <url-pattern>/EditUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.neeraj.BookProj.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>com.neeraj.BookProj.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserDetails</display-name>
    <servlet-name>DeleteUserDetails</servlet-name>
    <servlet-class>com.neeraj.BookProj.DeleteUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserDetails</servlet-name>
    <url-pattern>/DeleteUserDetails</url-pattern>
  </servlet-mapping>
  
</web-app>